## MAC OS
.DS_Store
Icon*

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp

## RUBINIUS
*.rbc
rakefile.compiled.rbc

## PROJECT::GENERAL
.bundle
.yardoc
coverage
documentation
Gemfile.lock
measurements
pkg
rdoc
tmp
*.gem

## PROJECT::SPECIFIC
.sass-cache
lib/flexo/man/*
man/*.html
man/*.markdown
!man/index.html
pages
