## MAC OS
.DS_Store
Icon*

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp

## RUBINIUS
*.rbc
rakefile.compiled.rbc

## PROJECT::GENERAL
.bundle
.yardoc
coverage
doc
Gemfile.lock
measurements
pkg
rdoc
tmp
*.gem

## PROJECT::SPECIFIC
.sass-cache
